# This is a basic workflow to help you get started with Actions

name: release Armbian monthly
on:
  schedule:
    - cron: '20 9 14 * *'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Choose build branch'
        required: true
        default: 'trunk'
        type: choice
        options:
          - trunk
          - stable

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  get_build_date:
    runs-on: ubuntu-latest
    outputs:
      build_datedash: ${{ steps.set_date.outputs.datedash }}
      build_date: ${{ steps.set_date.outputs.date }}
    steps:
      - name: Set build date
        id: set_date
        run:  |
          export datenow=$(TZ=America/New_York date +%Y-%m-%d-%H%M%S)
          echo "datedash=$(echo $datenow)" >> $GITHUB_OUTPUT
          echo "date=$(echo $datenow | sed 's|\-||g')" >> $GITHUB_OUTPUT
          echo Date and time is $datenow EST
          
  build:
    strategy:
      matrix:
        device: [orangepi5-max, orangepi5-plus, orangepi5-ultra, orangepi5, orangepi5b, orangepi5pro]
        type: [minimal, cinnamon, gnome, kde-plasma, mate, xfce]
        kernel: [current edge vendor] 
        os: [trixie, noble]
        include:
          - device: orangepi5-plus
            type: kde-neon
            kernel: current edge vendor
            os: noble
          - device: orangepi5-plus
            type: mate
            kernel: current edge vendor
            os: trixie
      fail-fast: false
    runs-on: ubuntu-latest
    needs: get_build_date
    env:
      BRANCH: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || 'trunk' }}
    steps:

      # - name: Free Disk Space (Ubuntu)
      #   uses: BRAINSia/free-disk-space@v2
      #   with:
      #     tool-cache: false
      #     mandb:   true
      #     android: true
      #     dotnet: true
      #     haskell: true
      #     large-packages: true
      #     docker-images: true
      #     swap-storage: true

      # - uses: thejerrybao/setup-swap-space@v1
      #   with:
      #     swap-space-path: /swapfile
      #     swap-size-gb:  8
      #     remove-existing-swap-files: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Prep for trunk
        if: ${{ env.BRANCH == 'trunk' }}
        uses: actions/checkout@v4
        with:
          repository: armbian/build
          path: .
      
      - name: temporarily fix trunk -- remove failing rk3308-i2s-default-rate patch
        if: ${{ env.BRANCH == 'trunk' }}
        run: |
          #patch/kernel/archive/rockchip64-6.18/rk3308-i2s-default-rate.patch
          find patch/kernel -name rk3308-i2s-default-rate.patch -exec rm {} \;
          
          
      - name: Prep for stable
        if: ${{ env.BRANCH == 'stable' }}
        run: |
          export LatestArmbianVer=$(gh release list -R armbian/build |grep -v trunk | head -n1 |cut -f1)
          export LatestArmbianURL=https://github.com/armbian/build/archive/refs/tags/${LatestArmbianVer}.tar.gz
          echo LatestArmbianURL=$LatestArmbianURL
          wget -q -nv "$LatestArmbianURL" -O${LatestArmbianVer}.tar.gz
          tar --strip-components=1 -xf ${LatestArmbianVer}.tar.gz
          rm -f ${LatestArmbianVer}.tar.gz

      - name: Make device config file
        run: |
          mkdir userpatches
          export device=${{ matrix.device }}
          for kernel in ${{ matrix.kernel }}; do
            export kernel=$kernel
            for os in ${{ matrix.os }}; do
              export os=$os
              for type in ${{ matrix.type }}; do
                export type=$type
                echo "Creating userpatch for ${device}-${kernel}-${os}-${type}"

                configfile="userpatches/config-${device}-${kernel}-${os}-${type}.conf"
                
                echo BOARD=${device} > $configfile
                echo KERNEL_CONFIGURE=no >> $configfile
                echo INSTALL_HEADERS=yes >> $configfile
                echo SHARE_LOGS=no >> $configfile
                echo KERNEL_GIT=shallow >> $configfile
                echo BRANCH=${kernel} >> $configfile
                echo RELEASE=${os} >> $configfile
                

                if [ "$type" == "minimal" ]; then
                  echo BUILD_MINIMAL=yes >> $configfile
                  echo BUILD_DESKTOP=no >> $configfile
                else
                  echo BUILD_MINIMAL=no >> $configfile
                  echo BUILD_DESKTOP=yes >> $configfile
                  echo DESKTOP_APPGROUPS_SELECTED=\'browsers desktop_tools editors multimedia\' >> $configfile
                  echo DESKTOP_ENVIRONMENT_CONFIG_NAME=config_base >> $configfile
                  echo ENABLE_EXTENSIONS="mesa-vpu" >> $configfile
                  echo DESKTOP_ENVIRONMENT=${type} >> $configfile
                fi

                echo "Created userpatch file: $configfile"
                echo "Contents:"
                cat $configfile
                echo "-----"
              done
            done
          done


      - name: Build armbian-${{ matrix.device }}-${{ matrix.kernel }}-[${{ matrix.os }}]-${{ matrix.type }}.img
        if: ${{ !( (matrix.type == 'kde-neon' && matrix.os != 'plucky') || (matrix.type == 'mate' && matrix.os != 'trixie') ) }}
        run: |
            # export CCACHE=1
            mkdir release
            export uid=$(id -u)
            export gid=$(id -g)
            sudo chown -R $uid:$gid release
            for kernel in ${{ matrix.kernel }}; do
              export kernel=$kernel 
              for os in ${{ matrix.os }}; do
                export os=$os
                for type in ${{ matrix.type }}; do
                  export type=$type
                  export image=${{ matrix.device }}-${kernel}-${os}-${type}

                  echo running ./compile.sh EXPERT=yes CLEAN_LEVEL=images ${image}
                  ./compile.sh EXPERT=yes CLEAN_LEVEL=images ${image}  
                  outputfilerelpath=$(find output -name "*.img" -exec echo -n {} \;)
                  outputfilename=$(basename -z $outputfilerelpath .img)
                  outputfilepath=$(realpath -z $outputfilerelpath)
                  mv -vf $outputfilepath release/
                  sudo chown -R $uid:$gid release
                  cd release/
                  ls -l
                  echo "Compressing ${outputfilename}.img to ${outputfilename}.img.xz"
                  time xz -vz -T$(($(nproc) + 2)) -3 ${outputfilename}.img || true
                  oldfilename=$outputfilename 
                  ls ${oldfilename}.img.xz || exit 1
                  echo Old Filename is ${oldfilename}.img.xz
                  AVer=$(echo $oldfilename | sed 's/Armbian-unofficial_\([^_]*\).*/\1/')
                  echo 
                  echo AVer: $AVer
                  KVer=${kernel}-$(echo $oldfilename | sed "s/.*_${kernel}_\([^_]*\).*/\1/") 
                  echo KVer: $KVer
                  filename=armbian-$(echo ${{ matrix.device }}-${os}-${type}-${AVer}-${KVer}-${{ needs.get_build_date.outputs.build_datedash }})
                  echo New Filename is ${filename}.img.xz
                  mv -vf "${oldfilename}.img.xz" "${filename}.img.xz"
                  cd ..
                done
              done
            done


      - name: Release armbian-[${{ matrix.device }}]-[${{ matrix.os }}]-[${{ matrix.type }}].img.xz
        if: ${{ !( (matrix.type == 'kde-neon' && matrix.os != 'plucky') || (matrix.type == 'mate' && matrix.os != 'trixie') ) }}
        uses: softprops/action-gh-release@v2
        with:
          files: release/*.img.xz
          draft: true
          fail_on_unmatched_files: true
          name: build ${{ matrix.device }}-${{ needs.get_build_date.outputs.build_datedash }}
          tag_name: ${{ matrix.device }}-v${{ needs.get_build_date.outputs.build_date }}
    
  update_release_body:
    runs-on: ubuntu-latest
    needs: [get_build_date, build]
    env:
      DEVICE: orangepi5-plus
    steps:
      - uses: actions/checkout@v4
      - name: Update draft release body
        run: |
          tag="${{ env.DEVICE }}-v${{ needs.get_build_date.outputs.build_date }}"
          assets=$(gh release view $tag --repo ${{ github.repository }} --json assets -q '.assets[].name')
          AVer=""
          current_kver=""
          edge_kver=""
          vendor_kver=""
          for asset in $assets; do
            if [ -z "$AVer" ]; then
              AVer=$(echo $asset | sed 's/armbian-[^-]*-[^-]*-[^-]*-//' | sed 's/-\(current\|edge\|vendor\)-.*//')
            fi
            kver=$(echo $asset | sed 's/.*-\(current\|edge\|vendor\)-\([^-]*\)-.*-.*/\2/')
            kernel_type=$(echo $asset | sed 's/.*-\(current\|edge\|vendor\)-\([^-]*\)-.*-.*/\1/')
            if [[ $kernel_type == "current" ]]; then
              current_kver=$kver
            elif [[ $kernel_type == "edge" ]]; then
              edge_kver=$kver
            elif [[ $kernel_type == "vendor" ]]; then
              vendor_kver=$kver
            fi
          done
          body="Image Picker: https://${{ github.repository_owner }}.github.io/${{ github.repository }}/
          Armbian Version: $AVer
          Kernel Versions:
          - Current: $current_kver
          - Edge: $edge_kver
          - Vendor: $vendor_kver"
          gh release edit $tag --repo ${{ github.repository }} --notes "$body"
    
  publish:
    runs-on: ubuntu-latest
    needs: [get_build_date, build, update_release_body]
    env:
      DEVICE: orangepi5-plus
    steps:
      - uses: actions/checkout@v4
      - name: Publish draft release
        run: gh release edit ${{ env.DEVICE }}-v${{ needs.get_build_date.outputs.build_date }} --draft=false
